<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Refugee Registration</title>
  <style>
    body { font-family: Garamond, sans-serif; margin: 40
px; }
    nav a { margin-right: 15px; text-decoration: none; color: #0066cc; }
    table { border-collapse: collapse; width: 60%; }
    th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }
    th { background-color: #0000FF;color: white; padding: 10px 20px; }
  </style>
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/register">Register</a>
      <a href="/view">View</a>
  </nav>
  <hr>
  <!--jinja code for flash messages-->
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li style="color: red;">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>
</html>
