{% extends 'base.html' %}
{% block content %}
<h2>Registered Refugees</h2>
{% if registrations %}
  <table>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Age</th>
        <th>Gender</th>
        <th>Date of Birth</th>
        <th>Family Size</th>
        <th>Phone Number</th>
        <th>Medical conditions</th>

    </tr>
    {% for person in registrations %}
      <tr>
        <td>{{ person.name }}</td>
        <td>{{ person.country }}</td>
        <td>{{ person.age }}</td>
          <td>{{ person.gender }}</td>
          <td>{{ person.date_of_birth }}</td>
          <td>{{ person.family_size }}</td>
          <td>{{ person.phone_number }}</td>
          <td>{{ person.medical_con }}</td>



      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No registrations found yet.</p>
{% endif %}
{% endblock %}